
.array-container {
  background-color: black;
  position: absolute;
  left:20px;
  right:20px;
  top: 70px; 
}
.array-bar {
  width: 1px;
  background-color: white;
  display: inline-block;
  margin: 0 1px;
}
#array-bar {
  width: 1px;
  background-color: white;
  display: inline-block;
  margin: 0 1px;
}